<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>901050829504-udrd9ca2fdbj30ofp5lg1gke028v1ssp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.901050829504-udrd9ca2fdbj30ofp5lg1gke028v1ssp</string>
	<key>API_KEY</key>
	<string>AIzaSyApTFDnznexaYY6y-FBLE4B2Y8jX1Ndxrk</string>
	<key>GCM_SENDER_ID</key>
	<string>901050829504</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kobbina.gaspay</string>
	<key>PROJECT_ID</key>
	<string>gaspayapp-ad959</string>
	<key>STORAGE_BUCKET</key>
	<string>gaspayapp-ad959.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:901050829504:ios:fe4e036039b3a59ea53b25</string>
</dict>
</plist>